@model QuestionViewModel
    
<div class="editor-label">@PropertyDisplayNames.Question: @Html.ValidationMessageFor(x => x.Text)</div>
<div>
    @Html.TextAreaFor(x => x.Text)
</div>
        
<div class="editor-label">@PropertyDisplayNames.Answer: @Html.ValidationMessageFor(x => x.Answer)</div>
<div>
    @Html.TextAreaFor(x => x.Answer)
</div>
