@model QuestionCategoryViewModel

<tr style="height:27px">

    <td style="display:none;">
        @Html.HiddenFor(x => x.QuestionCategoryID)
        @Html.HiddenFor(x => x.TemporaryID)
    </td>

    <td>
        @{var allCategories = (IList<CategoryViewModel>)ViewData[ViewDataKeys.AllCategories];}

        @Html.DropDownListFor(
            x => x.Category.ID,
            allCategories.UnionRecursive(x => x.SubCategories).Select(x => new SelectListItem 
            {
                Value = x.ID.ToString(), 
                Text = String.Join(@" \ ", x.NameParts), 
                Selected = x.ID == Model.Category.ID
            }),
            "")
    </td>

    <td style="vertical-align:bottom;text-align:center;">
        <input type="submit" value="@CommonResourceFormatter.Remove" formaction="@Url.ActionWithParams(ActionNames.RemoveCategory, 
                                                                                            ControllerNames.Questions,
                                                                                            ActionParameterNames.temporaryID,
                                                                                            Model.TemporaryID)" />
    </td>
    <td>
        @Html.ValidationMessageFor(x => x.Category.ID)
    </td>

</tr>
