@model QuestionViewModel

<table class="properties">
    <tr>
        <th>@ResourceFormatter.ID:</th>
        <td >
            @Model.ID
            @Html.HiddenFor(x => x.ID)
        </td>
    </tr>
    <tr>
        <th>@ResourceFormatter.IsActive:</th>
        <td>
            @Html.CheckBoxFor(x => x.IsActive)
            @Html.ValidationMessageFor(x => x.IsActive)
        </td>
    </tr>
    <tr>
        <th>@ResourceFormatter.Source:</th>
        <td>
            @if (!String.IsNullOrEmpty(Model.Source.Url))
            {
                <a href="@Model.Source.Url" target="_blank">
                    @Model.Source.Description
                </a>
            }
            else
            {
                @Model.Source.Description
            }
            @Html.HiddenFor(x => x.Source.ID)
        </td>
    </tr>
    <tr>
        <th>@ResourceFormatter.QuestionType:</th>
        <td>
            @Model.Type.Name
            @Html.HiddenFor(x => x.Type.ID)
        </td>
    </tr>
    <tr>
        <th>@ResourceFormatter.LastModifiedByUser:</th>
        <td>@Model.LastModifiedBy </td>
    </tr>
    <tr>
        <th>@ResourceFormatter.IsManual:</th>
        <td>
            @(Model.IsManual ? CommonResourceFormatter.Yes : CommonResourceFormatter.No)

            @if (Model.IsManual)
            {
                <br />
                @ResourceFormatter.ExplanationOfIsManualWithParenthesis
            }
        </td>
    </tr>
</table>
