@model QuestionEditViewModel

<p>
	<input type="submit" value="@CommonResourceFormatter.Save" /> |

	<input type="submit" 
		   value="@CommonResourceFormatter.Cancel" 
		   formaction="@Url.Action(nameof(ActionNames.CancelEdit), new { ret = Url.ReturnAction(Model.ReturnAction) })" />

	@if (Model.CanDelete)
	{
		@:| 
		@Html.ActionLink(CommonResourceFormatter.Delete, nameof(ActionNames.Delete), new { id = Model.Question.ID }) <text>|</text>
	}

	@Html.ActionLink(ResourceFormatter.BackToList, nameof(ActionNames.Index))
</p>
