@model QuestionLinkViewModel

<tr style="height: 47px">
	<td>
		@PropertyDisplayNames.Description
		<span class="editor-field">
			@Html.TextBoxFor(x => x.Description, new { style = "width:200px;" })
			@Html.ValidationMessageFor(x => x.Description)
		</span>
	</td>

	<td style="width: 250px">
		@if (!string.IsNullOrEmpty(Model.Url))
		{
			<a href="@Model.Url" target="_blank">
				@PropertyDisplayNames.Url
			</a>
		}
		else
		{
			@PropertyDisplayNames.Url
		}

		<span class="editor-field">
			@Html.TextBoxFor(x => x.Url, new { style = "width:400px;" })
			@Html.ValidationMessageFor(x => x.Url)
		</span>
	</td>

	<td style="text-align: center; vertical-align: bottom;">
		<input type="submit"
		       value="@CommonResourceFormatter.Remove"
		       formaction="@Url.ActionWithParams(
			                   nameof(ActionNames.RemoveLink),
			                   nameof(ControllerNames.Questions),
			                   nameof(ActionParameterNames.temporaryID),
			                   Model.TemporaryID)"/>
		@Html.HiddenFor(x => x.ID)
		@Html.HiddenFor(x => x.TemporaryID)
	</td>
</tr>