@model IList<QuestionCategoryViewModel>

<fieldset>
    <legend>@PropertyDisplayNames.Categories</legend>

    @if (Model.Count == 0)
    {
        <br />
        <input type="submit" value="@CommonResourceFormatter.Add" formaction="@Url.Action(ActionNames.AddCategory)" />
    }
    else
    {
        <table>
            @foreach (var questionCategory in Model)
            {
                using (Html.BeginCollectionItem())
                {
                    @Html.Partial(ViewNames._EditCategory, questionCategory)
                }
            }

            <tr style="height:27px">
                <td />
                <td style="vertical-align:bottom;text-align:center;">
                    <input type="submit" value="@CommonResourceFormatter.Add" formaction="@Url.Action(ActionNames.AddCategory)" />
                </td>
                <td />
            </tr>
        </table>
    }
</fieldset>
