@model QuestionDeleteConfirmedViewModel

@section Title
{
    @Titles.DeleteQuestion
}

@section Header
{
    @Html.Partial(nameof(ViewNames._Login), Model.Login)
}

<h2>@Titles.DeleteQuestion</h2>
    
<p>@Messages.QuestionIsDeleted</p>

<p>@Html.ActionLink(Titles.BackToList, nameof(ActionNames.Index))</p>
