@model QuestionDeleteConfirmedViewModel

@section Title
{
    @ResourceFormatter.DeleteQuestion
}

@section Header
{
    @Html.Partial(nameof(ViewNames._Login), Model.Login)
}

<h2>@ResourceFormatter.DeleteQuestion</h2>
    
<p>@ResourceFormatter.QuestionIsDeleted</p>

<p>@Html.ActionLink(ResourceFormatter.BackToList, nameof(ActionNames.Index))</p>
