@model QuestionDetailsViewModel

@section Title
{
    @Titles.QuestionDetails
}

@section Header
{
    @Html.Partial(ViewNames._Login, Model.Login)
}

<h2>@Titles.QuestionDetails</h2>

<p>
    @Html.ActionLink(CommonResourceFormatter.Edit, ActionNames.Edit, new 
    {
        id = Model.Question.ID,
        ret = Url.Action(ActionNames.Details, ControllerNames.Questions, new  { id = Model.Question.ID })
    }) |
    @Html.ActionLink(CommonResourceFormatter.New, ActionNames.Create, new
    {
        ret = Url.Action(ActionNames.Details, ControllerNames.Questions, new  { id = Model.Question.ID })
    }) |
    @Html.ActionLink(CommonResourceFormatter.Delete, ActionNames.Delete, new { id = Model.Question.ID }) |
    @Html.ActionLink(Titles.BackToList, ActionNames.Index)
</p>

<table class="properties">
    <tr>
        <th>@PropertyDisplayNames.ID:</th>
        <td>@Model.Question.ID</td>
    </tr>

    <tr>
        <th>@PropertyDisplayNames.Question:</th>
        <td>@Model.Question.Text</td>
    </tr>
    <tr>
        <th>@PropertyDisplayNames.Answer:</th>
        <td>@Model.Question.Answer</td>
    </tr>

    <tr>
        <th>@PropertyDisplayNames.IsActive:</th>
        <td>@(Model.Question.IsActive ? CommonResourceFormatter.Yes : CommonResourceFormatter.No)</td>
    </tr>
    <tr>
        <th>@PropertyDisplayNames.Source:</th>
        <td>
            @if (!String.IsNullOrEmpty(Model.Question.Source.Url))
            {
                <a href="@Model.Question.Source.Url" target="_blank">
                    @Model.Question.Source.Description
                </a>
            }
            else
            {
                @Model.Question.Source.Description
            }
        </td>
    </tr>
    <tr>
        <th>@Titles.Type:</th>
        <td>@Model.Question.Type.Name</td>
    </tr>

    <tr>
        <th>@PropertyDisplayNames.Categories:</th>
        <td>

            @foreach (var category in Model.Question.Categories.Select(x => x.Category))
            {
                <div>
                    @category.ID- 
                    @String.Join(@" \ ", category.NameParts)
                </div>
            }
                
            @if (Model.Question.Categories.Count == 0)
            {
                @CommonResourceFormatter.None
            }
        </td>
    </tr>
    <tr>
        <th>@Titles.Links:</th>
        <td>
                
            @foreach (var link in Model.Question.Links)
            {
                @link.Description<text>:</text> <a href="@link.Url" target="_blank"> @link.Url</a>
                <br />
            }

            @if (Model.Question.Links.Count == 0)
            {
                @CommonResourceFormatter.None
            }
        </td>
    </tr>
    <tr>
        <th>@PropertyDisplayNames.LastModifiedByUser:</th>
        <td>@Model.Question.LastModifiedBy</td>
    </tr>
    <tr>
        <th>@PropertyDisplayNames.IsManual:</th>
        <td>
            @(Model.Question.IsManual ? CommonResourceFormatter.Yes : CommonResourceFormatter.No)

            @if (Model.Question.IsManual)
            {
                <br />
                @Messages.ExplanationOfIsManualWithParenthesis
            }
        </td>
    </tr>
</table>

<fieldset>
    <legend>@Titles.ContentFlags</legend>

    <table class="properties">
        <tr>
            <th>@Titles.HasActiveFlags</th>
            <td>@(Model.Question.IsFlagged ? CommonResourceFormatter.Yes : CommonResourceFormatter.No)</td>
        </tr>

        @foreach (var flag in Model.Question.Flags)
        {
            <tr>
                <th>@flag.FlaggedBy</th>
                <td>
                    <table class="properties">
                        <tr>
                            <th>@PropertyDisplayNames.DateTime:</th>
                            <td>@flag.DateAndTime.ToString()</td>
                        </tr>
                        <tr>
                            <th>@PropertyDisplayNames.FlagStatus:</th>
                            <td>@flag.Status.Description</td>
                        </tr>
                        <tr>
                            <th>@PropertyDisplayNames.Comment:</th>
                            <td>@flag.Comment</td>
                        </tr>
                        <tr>
                            <th>@PropertyDisplayNames.LastModifiedByUser:</th>
                            <td>@flag.LastModifiedBy</td>
                        </tr>
                     </table>
                </td>
            </tr>
        }
    </table>

</fieldset>
