@model QuestionListViewModel

@section Title
{
    @PropertyDisplayNames.Questions
}

@section Header
{
    @Html.Partial(ViewNames._Login, Model.Login)
}

@using (Html.BeginForm())
{
    <h2>@PropertyDisplayNames.Questions</h2>

    <p>@Html.ActionLink(Titles.CreateQuestion, ActionNames.Create, new
    {
        ret = Url.Action(ActionNames.Index, ControllerNames.Questions, new { page = Model.Pager.PageNumber })
    })</p>

    @Html.Partial(ViewNames._Pager, Model.Pager)

    <table>

        <tr>
            <th>@PropertyDisplayNames.ID</th>
            <th>@PropertyDisplayNames.Question</th>
            <th>@Titles.ContentIsFlagged </th>
            <th></th>
        </tr>

        @foreach (var question in Model.List)
        {
            <tr>
                <td>@question.ID</td>
                <td>@Html.ActionLink(question.Text, ActionNames.Details, new { id = question.ID })</td>
                <td>@(question.IsFlagged ? CommonTitlesFormatter.Yes : CommonTitlesFormatter.No)</td>
                <td>@Html.ActionLink(CommonTitlesFormatter.Edit, ActionNames.Edit, new
                    {
                        id = question.ID,
                        ret = Url.Action(ActionNames.Index, ControllerNames.Questions, new { page = Model.Pager.PageNumber })
                    }) </td>
                <td>@Html.ActionLink(CommonTitlesFormatter.Delete, ActionNames.Delete, new { id = question.ID })</td>
            </tr>
        }
    </table>

    @Html.Partial(ViewNames._Pager, Model.Pager)
}
