@model QuestionListViewModel

@section Title
{
    @PropertyDisplayNames.Questions
}

@section Header
{
    @Html.Partial(nameof(ViewNames._Login), Model.Login)
}

@using (Html.BeginForm())
{
    <h2>@PropertyDisplayNames.Questions</h2>

    <p>@Html.ActionLink(Titles.CreateQuestion, nameof(ActionNames.Create), new
    {
        ret = Url.Action(nameof(ActionNames.Index), nameof(ControllerNames.Questions), new { page = Model.Pager.PageNumber })
    })</p>

    @Html.Partial(nameof(ViewNames._Pager), Model.Pager)

    <table>

        <tr>
            <th>@PropertyDisplayNames.ID</th>
            <th>@PropertyDisplayNames.Question</th>
            <th>@Titles.ContentIsFlagged </th>
            <th></th>
        </tr>

        @foreach (var question in Model.List)
        {
            <tr>
                <td>@question.ID</td>
                <td>@Html.ActionLink(question.Text, nameof(ActionNames.Details), new { id = question.ID })</td>
                <td>@(question.IsFlagged ? CommonResourceFormatter.Yes : CommonResourceFormatter.No)</td>
                <td>@Html.ActionLink(CommonResourceFormatter.Edit, nameof(ActionNames.Edit), new
                    {
                        id = question.ID,
                        ret = Url.Action(nameof(ActionNames.Index), nameof(ControllerNames.Questions), new { page = Model.Pager.PageNumber })
                    }) </td>
                <td>@Html.ActionLink(nameof(CommonResourceFormatter.Delete), nameof(ActionNames.Delete), new { id = question.ID })</td>
            </tr>
        }
    </table>

    @Html.Partial(nameof(ViewNames._Pager), Model.Pager)
}
