@model LoginViewModel

@section Title
{
    @CommonResourceFormatter.LogIn 
}

@section Header
{
    @Html.Partial(nameof(ViewNames._LanguageSelector), Model.LanguageSelector)
}

@using (Html.BeginForm())
{
    <h2>@CommonResourceFormatter.LogIn</h2>

    <p>
        @CommonResourceFormatter.UserName
        @Html.TextBoxFor(x => x.UserName)
    </p>

    <p>
        @CommonResourceFormatter.Password
        @Html.PasswordFor(x => x.Password)
    </p>

    <input type="submit" value="@CommonResourceFormatter.LogIn" />
}