@model QuestionEditViewModel

<p>
    <input type="submit" value="@CommonTitles.Save" /> |

    <input type="submit" value="@CommonTitles.Cancel" formaction="@Url.Action(ActionNames.CancelEdit)" />

    @if (Model.CanDelete)
    {
        @:| 
        @Html.ActionLink(CommonTitles.Delete, ActionNames.Delete, new { id = Model.Question.ID }) <text>|</text>
    }

    @Html.ActionLink(Titles.BackToList, ActionNames.Index)
</p>
