@model QuestionConfirmDeleteViewModel

@section Title
{
    @Titles.DeleteQuestion
}

@section Header
{
    @Html.Partial(ViewNames._Login, Model.Login)
}

@using (Html.BeginForm())
{
    <h2>@Titles.DeleteQuestion</h2>
    
    <p>@Messages.AreYouSureYouWishToDeleteTheFollowingQuestion</p>

    <table>
        <tr>
            <th> @PropertyDisplayNames.ID </th>
            <td> @Model.ID </td>
        </tr>
        <tr>
            <th> @PropertyDisplayNames.Question </th>
            <td> @Model.Question </td>
        </tr>
    </table>

    <p>
        <input type="submit" value="@Titles.Confirm" /> |
        <a href="javascript:history.back()"> @CommonTitles.Cancel </a>
    </p>
}
