@model QuestionEditViewModel

@section Title
{
    @Model.Title
}

@section Header
{
    @Html.Partial(ViewNames._Login, Model.Login)
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.IsNew)

    <h2>@Model.Title</h2>

    using (Html.BeginItem(() => Model.Question))
    {    
        @Html.Partial(ViewNames._EditQuestion, Model.Question);
    }    
    
    @Html.ValidationSummary()

    @Html.Partial(ViewNames._EditButtons);
}
