@model QuestionEditViewModel

<p>
    <input type="submit" value="@CommonResourceFormatter.Save" /> |
    
    <a href="@Model.ReturnAction">@CommonResourceFormatter.Cancel</a>

    @if (Model.CanDelete)
    {
        @:|
        @Html.ActionLink(CommonResourceFormatter.Delete, nameof(ActionNames.Delete), new { id = Model.Question.ID }) <text>|</text>
    }

    @Html.ActionLink(CommonResourceFormatter.BackToList, nameof(ActionNames.Index))
</p>
