@model PagerViewModel

<table>
    <tr>
        @if (Model.CanGoToFirstPage)
        {
            <td>@Html.ActionLinkWithParams("<<", nameof(ActionNames.Index), nameof(ActionParameterNames.page), 1)</td>
        }

        @if (Model.CanGoToPreviousPage)
        {
            <td>@Html.ActionLinkWithParams("<", nameof(ActionNames.Index), nameof(ActionParameterNames.page), Model.PageNumber - 1)</td>
        }

        @if (Model.MustShowLeftEllipsis)
        {
            <td>...</td>
        }
        
        @foreach (var pageNumber in Model.VisiblePageNumbers)
        {
            if (pageNumber == Model.PageNumber)
            {
                <td><strong>@pageNumber</strong></td>
            }
            else
            {
                <td>@Html.ActionLinkWithParams(pageNumber.ToString(), nameof(ActionNames.Index), nameof(ActionParameterNames.page), pageNumber)</td>    
            }
        }
        
        @if (Model.MustShowRightEllipsis)
        {
            <td>...</td>
        }

        @if (Model.CanGoToNextPage)
        {
            <td>@Html.ActionLinkWithParams(">", nameof(ActionNames.Index), nameof(ActionParameterNames.page), Model.PageNumber + 1)</td>
        }

        @if (Model.CanGoToLastPage)
        {
            <td>@Html.ActionLinkWithParams(">>", nameof(ActionNames.Index), nameof(ActionParameterNames.page), Model.PageCount)</td>
        }
    </tr>
</table>
